
<div class="d-flex justify-content-center">

    <img 
        [src]="url" 
        [alt]="alt"
        class="card-img-top animate__animated animate__fadeIn"
        (load)="onLoad()"
        [ngStyle]="{ display: hasLoaded ? '' : 'none' }"
    />

    <!-- Loader se tiene que crear la carpeta en public/asset, no reconoce si esta en src los assets en angular 18 -->
    <img
        *ngIf="!hasLoaded"
        src="assets/loader.svg"
        height="35"
        width="35"
        class="mt-3"
    />
</div>



